<table>
    <tr>
        <td>Id</td>
        <td>İsim</td>
        <td>Açıklama</td>
        <td>Fiyat</td>
    </tr>
    <tbody>
    {% for urun in urunler %}
        <tr>
            <td>{{ urun.id }}</td>
            <td>{{ urun.isim }}</td>
            <td>{{ urun.aciklama }}</td>
            <td>{{ urun.fiyat }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>